
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/style.css">
    <title>data_release_report</title>
</head>
<body>

   <table style="width:100%; font-family: Arial, Helvetica, sans-serif; margin-bottom:50px">
   <tr>
     <td style="width: 40%; padding: 3px; text-align: left"><img src="./static/images/OICR_Logo_RGB_ENGLISH.png" alt="OICR_logo" title="OICR_logo" style="padding-right: 8px; padding-left:0px; width:6cm"></td>
     <td style="width: 60%; padding: 3px; text-align: left"><p style="text-align: center; color: black; font-size:45px; font-family: Arial, Verdana, sans-serif; font-weight:bold">Data Release Report</p></td>
   </tr>
   </table>
   
   
   <table id="project_table">
   <tr>
     <th>Project Acronym</th>
     <th>Project Name</th>
     <th>Date</th>     
   </tr>     
     <tr>       
       <td> 1 Acronym </td>
       <td> 2 Name</td>        
       <td> 3 Date </td>
     </tr>
      <tr>       
       <td> 1 Acronym </td>
       <td> 2 Name</td>        
       <td> 3 Date </td>
     </tr>
     <tr>       
      <td> 1 Acronym </td>
      <td> 2 Name</td>        
      <td> 3 Date </td>
    </tr>
   </table>

   <p>This report provides detailed sample information and QC metrics about newly released raw sequences.</p>
   
   <h2>1. File Count</h2>
   <p>This release includes {{file_count}} pairs of fastq files. File count is broken down by instrument and run as follow.</p>
   
   <table id="info_table">
   <tr>
     <th>Platform</th>
     <th>Run</th>
     <th>Paired fastq files</th>     
   </tr>   
   <tr>   
   </tr>
         <tr>           
           <td> instument </td>
           <td> run </td>
           <td> number</td> 
          <tr>           
            <td> instument </td>
            <td> run </td>
            <td> number</td> 
          <tr>           
              <td> instument </td>
              <td> run </td>
              <td> number</td>                  
         </tr>        
        </tr>
        <tr>           
          <td> instument </td>
          <td> run </td>
          <td> number</td> 
         <tr>           
           <td> instument </td>
           <td> run </td>
           <td> number</td> 
         <tr>           
             <td> instument </td>
             <td> run </td>
             <td> number</td>                  
        </tr>                  
                    
  </table>

  <div style="page-break-after: always;"></div>


  <h2>2. QC plots</h2>
    
    <table>
      <tr>
      <td><img src= "plots/mutations_plot.png" alt=QC_plot></td>
      </tr>

  <div style="page-break-after: always;"></div>
  
  <h2>Table 1. Sample identifiers</h2>
  <p>Table 1 provides information about the sequenced samples.</p>
  <p>S: Library type, T: Tissue type, O: Tissue origin</p>
     

   <table id="info_table">
   <tr>
     <th>1_id</th>
     <th>2_id</th>
     <th>3_id</th>
     <th>4_id</th>
     <th>5_id</th>
     <th>6_id</th>
     <th>7_id</th>
   </tr>   
   <tr>   
   </tr>
         <tr>
           <td> 123 </td>
           <td> 123 </td>
           <td> 123 </td>
           <td> 123 </td>
           <td> 123 </td>
           <td> 123 </td>
           <td> 123 </td>         
         </tr>
         <tr>
          <td> 456 </td>
          <td> 456 </td>
          <td> 456 </td>
          <td> 456 </td>
          <td> 456 </td>
          <td> 456 </td>
          <td> 456 </td>         
        </tr>  
        <tr>
          <td> 789 </td>
          <td> 789 </td>
          <td> 789 </td>
          <td> 789 </td>
          <td> 789 </td>
          <td> 789 </td>
          <td> 789 </td>         
        </tr>          
</table>

  <h3>Appendix Table 1</h3>

  <ul>
    <li><i>Library Type:</i> {{appendix_identifiers["Library Type"]}}</li>
    <li><i>Tissue Type:</i> {{appendix_identifiers["Tissue Type"]}}</li>
    <li><i>Tissue Origin:</i> {{appendix_identifiers["Tissue Origin"]}}</li>
  </ul>

  
  <h2>Table 2. QC metrics</h2>
  <p>Table 2 provides QC metrics about the raw sequences of each sample.</p>
  
  <table id="info_table">
   <tr>
     <th>{{header_metrics.0}}</th>
     <th>{{header_metrics.1}}</th>
     <th>{{header_metrics.2}}</th>
     <th>{{header_metrics.3}}</th>
     <th>{{header_metrics.4}}</th>
     <th>{{header_metrics.5}}</th>
     <th>{{header_metrics.6}}</th>
   </tr>   
   <tr>   
   {% for instrument in qc_metrics %}
   </tr>
       {% for i in qc_metrics[instrument] %}
         <tr>
           <td> {{i.0}} </td>
           <td> {{i.1}} </td>
           <td> {{i.2}} </td>
           <td> {{i.3}} </td>
           <td> {{i.4}} </td>
           <td> {{i.5}} </td>
           <td> {{i.6}} </td>         
         </tr>        
       {% endfor %}               
  {% endfor %}
</table>

  <h3>Appendix Table 2</h3>

  <ul>
    <li><i>Raw Coverage:</i> An estimate of the mean depth of coverage in the target space = total bases on target / size of the target space.</li>
    <li><i>On Target Rate:</i> Percentage of reads that overlap the target space by at least one base = reads on target/total reads.</li>
    <li><i>Percent duplicate:</i> Percent of duplicate reads estimated by Picard MarkDuplicates.</li>
  </ul>

  <h2>Table 3. List of md5sums</h2>
  <p>A list of md5sums is available in the accompanying file: <span style="color: black; font-style: italic">{{md5sum}}</span></p>
    
</body>
</html>