
<h1>Summary of {{ process }}</h1>
<table id="info_table">
    <thead>
        <tr>
        <th rowspan="2">id<br></th>
        <th rowspan="2"># calls</th>
        <th colspan="4">bcf PASS</th>
        </tr>
        <tr>
        <th>records</th>
        <th>SNPs</th>
        <th>MNPs</th>
        <th>indels</th>
        </tr>
    </thead>

    {% for item in table_data %}
    <TR>
      <TD> <b>{{ item.id }}</b></TD>
      <TD> {{ item.num_calls }} </TD>
      <TD>{{ item.bcf_PASS_summary.records }}</TD>
      <TD>{{ item.bcf_PASS_summary.SNPs }}</TD>
      <TD>{{ item.bcf_PASS_summary.MNPs }}</TD>
      <TD>{{ item.bcf_PASS_summary.indels }}</TD>
    </TR>
    {% endfor %}    
</table>